*, *:before, *:after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body{
    height: 100vh;
    width: 100%;
    font-size: 16px;
    font-family: 'Rubik', 'Vazir', sans-serif;
}
body{
    background: #313131;
    /*#fce38a,#f9ed69*/
}

header{
    font-size: 1.2rem;
    text-align: left;
    padding: 15px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 97;
}
header .logo{
    background: white;
    border-radius: 2px;
    padding: 5px;
    color: black;
    font-weight: 700;
    margin-right: 10px;
}
header .htitle{
    width: 0;
    font-size: 1.5rem;
    transition: width .2s linear;
    overflow: hidden;
}
.nav{
    position: fixed;
    display: flex;
    height: 100%;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    z-index: 98;
    padding: 20px;
}
.nav .icon{
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 5px;
    transition: all .3s;
}
.nav .active{
    background-color: white;
    transform: scale(1.2);
}
.icon svg{
    fill: white;
    width: 100%;
    height: 100%;
}
.nav .active svg{
    fill: #313131;
}
.slide1{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 64px 80px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}
.countdown, .countdown div{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.countdown{
    width: 100%;
}
.title{
    margin-bottom: .6rem;
    font-family: 'Pacifico', sans-serif;
    font-size: 3rem;
}
.title span{
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    background-color: white;
    color: #313131;
    border-radius: 3px;
    padding: 0 5px;
}
.ring, .ring-shadow{
    transform: rotate(90deg) rotateY(180deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.5s;
}
.ring-shadow{
    filter: blur(2px);
}
.percentage{
    max-width: 208px;
    max-height: 208px;
    margin-right: 10px;
}
.num{
    font-size: 24px;
}
.tag{
    font-size: 8px;
}
.loading{
    color: #ffffff;
    background-color: #202020;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: loading-out .45s linear both;
    animation-delay: 1.8s;
}
.part{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: loading-in .3s linear;
    animation-fill-mode: both;
    animation-delay: 0s !important;
}
.loader{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: #313131 3px solid;
    border-left: white 3px solid;
    animation-delay: 0s;
    animation: spin-loading .5s infinite linear;
    margin-top: 20px;
}
@keyframes spin-loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes loading-in {
    0%{
        clip-path: circle(0% at 50% 50%);
        transform: scale(2);
    }
    100%{
        clip-path: circle(100% at 50% 50%);
        transform: scale(1);
    }
}
@keyframes loading-out {
    0%{
        clip-path: circle(100% at 50% 50%);
    }
    100%{
        clip-path: circle(0% at 50% 0);
    }
}
.loading span:first-child{
    font-family: 'Pacifico', sans-serif;
    font-size: 7.5em;
    line-height: 140px;
    max-width: 410px;
}
.loading span:nth-child(2){
    font-size: 1.75em;
    max-width: 410px;
    letter-spacing: 27px;
    background-color: white;
    color: #202020;
    padding: 0 4px;
}
.slide2{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 64px 80px;
}
.slide3{
    direction: rtl;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 64px 80px;
}
.slide2 .padding{
    border-radius: 20px;
    background-color: #97de95;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.nowruz-svg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 100%;
    padding: calc(20px + 5vw);
}
.nowruz-svg svg{
    width: 100%;
}
.slide2 p{
    font-size: 1.2em;
}
.article{
    height: 100%;
    max-width: 45vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px 50px;
    background: lightgreen;
    border-radius: 5px;
}
.slide3 p{
    position: relative;
    text-align: justify;
    z-index: 2;
}
.slide3 a{
    display: block;
    color: gray;
}
.nowruz-svg path{
    fill: transparent;
    stroke: whitesmoke;
    stroke-width: 2px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: nowruz-stroke 1s linear both, nowruz-fill .5s 1s both;
}
@keyframes nowruz-stroke{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes nowruz-fill{
    to{
        fill: whitesmoke;
    }
}
.hide{
    display: none;
}
.year-time{
    color: #ffffff;
    letter-spacing: -5px;
    font-size: calc(32px + 12vw);
    font-weight: 700;
    text-shadow: 5px 5px 10px #80bd7f, -5px -5px 10px #aeffab;
}
@media screen and (max-width: 960px) {
    .slide3{
        flex-flow: column;
    }
    .nowruz-svg{
        padding: 0;
        margin-bottom: 20px;
        max-width: 250px;
        max-height: 250px;
    }
    .article{
        max-width: 100%;
        padding: 20px;
    }
    .countdown{
        flex-flow: column;
    }
    .countdown div{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    html,body{
        font-size: 12px;
    }
    .percentage{
        max-width: 156px;
    }
    .nav{
        bottom: 0;
        flex-flow: row nowrap;
        width: 100%;
        height: 80px;
        background-color: #313131;
    }
    .nav .icon{
        margin-left: 10px;
        margin-bottom: 0;
    }
    .slide1, .slide3, .slide2{
        padding: 64px 15px 80px;
    }
    .slide3{
        height: auto;
    }
    .countdown div{
        width: 100%;
    }
}
